:root {
  --blue: #26c6da;
  --white: #ccc;
  --black: #444;
  --whitish: #f7f4e6;
  position: relative;
  margin: 0;
  padding: 0;
}

html {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Montserrat, sans-serif;
  font-weight: 400;
  color: var(--whitish);
  line-height: 1.6rem;
  letter-spacing: .2px;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  text-align: center;
  background: radial-gradient(circle at 19.4% 18.38%, #26c6da, transparent 66%),radial-gradient(circle at 80.34% 35.2%, #26c6da, transparent 78%),radial-gradient(circle at 50% 50%, #3e8e9e, #3e8e9e 100%);
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  background: var(--whitish);
  color: var(--black);
  letter-spacing: .3rem;
  display: block;
  padding: 1rem;
  max-width: 55vw;
  line-height: 2rem;
  margin: auto;
  border: 2px solid var(--black);
}

h2 {
  font-size: 2rem;
  color: var(--whitish);
  /*background: var(--black);*/
  letter-spacing: .2rem;
  line-height: 2rem;
  border-bottom: 1px solid var(--black);
  display: block;
  max-width: 60%;
  margin: 1rem auto;
  padding: 1.5rem;
}

h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--whitish);
  letter-spacing: .3rem;
  padding: 0;
  margin: 0;
}

/* grid setup */
.grid {
  margin: 1rem auto;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  width: 60%;
}

.grid div {
  padding: 0 2rem;
  margin: 1rem;
  /*background: var(--whitish);*/
  /*border: 2px solid var(--black);*/
  flex-grow: 1;
  flex-basis: 20vw;
  transition: flex-basis .8s, flex-grow .8s, background .8s;
  text-align: center;
}

a {
  color: var(--black);
  font-weight: 400;
  text-decoration: none;
  display: block;
  transition: .3s transform, background .2s, color .2s, text-transform .2s;
}

a:hover {
  background: var(--black);
  color: var(--whitish);
  transform: scale(1.3);
  text-transform: uppercase;
}

strong {
  font-weight: 700;
}

hr {
  margin: 2rem;
  border-bottom: 1px var(--black);
  height: 0;
}

.block {
  display: block;
  background: var(--black-color);
  color: var(--white-color);
  text-align: center;
  padding: 2rem;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.italic {
  font-style: italic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

li {
  margin-bottom: .4rem;
}

/* column layout for larger screens */
@media screen and (max-width: 600px) {
  .grid {
    margin: 1rem auto;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
  }

  .grid div {
    padding: 2rem;
    margin: 1rem;
    flex-basis: 35vw;
    transition: flex-basis .5s;
    text-align: center;
  }

  .grid div:hover {
    flex-basis: 100vw;
  }

  h2 {
    max-width: 70vw;
    margin: 1rem auto;
  }
}