:root {
  --blue-color: #150C6D;
  --white-color: #ffffffe6;
  position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Montserrat, sans-serif;
  font-weight: 500;
  color: var(--white-color);
  line-height: 1.8rem;
  letter-spacing: .2px;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  text-align: center;
  background: #150C6D;
  background: url(noise.png), -webkit-linear-gradient(bottom left, #150C6D, #B92359);
  background: url(noise.png), -moz-linear-gradient(bottom left, #150C6D, #B92359);
  background: url(noise.png), linear-gradient(bottom left, #150C6D, #B92359);
}

h1,
h2,
h3 {
  font-weight: 900;
  line-height: 2rem;
}

h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #49494233;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

/* grid setup */
.grid {
  margin: 1rem auto;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  width: 80%;
}

.grid div {
  padding: 2rem;
  margin: 1rem;
  background: #fff9;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px #49494233;
  flex-grow: 1;
  flex-basis: 25vw;
  transition: flex-basis .8s, flex-grow .8s, background .8s;
  text-align: center;
}

.grid div:hover {
  flex-basis: 80vw;
  flex-grow: 2;
  background: #fffc;
}

a {
  color: var(--blue-color);
  font-weight: 600;
  text-decoration: none;
  display: block;
  border-radius: .4rem;
  transition: .3s transform, background .2s, color .2s, text-transform .2s;
}

a:hover {
  background: #B92359;
  color: var(--white-color);
  transform: scale(1.2);
  box-shadow: 2px 2px 2px #49494233;
  text-transform: uppercase;
}

strong {
  font-weight: 700;
}

hr {
  margin: 2rem;
  border-bottom: 1px var(--black-color);
  height: 0;
}

.block {
  display: block;
  background: var(--black-color);
  color: var(--white-color);
  text-align: center;
  padding: 2rem;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.italic {
  font-style: italic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: .8rem;
}

/* column layout for larger screens */
@media screen and (max-width: 600px) {
  .grid {
    margin: 1rem auto;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
  }

  .grid div {
    padding: 2rem;
    margin: 1rem;
    background: #fffc;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px #49494233;
    flex-basis: 35vw;
    transition: flex-basis .5s;
    text-align: center;
  }

  .grid div:hover {
    flex-basis: 100vw;
  }
}
